<%- include('partials/navbarCliente') %>

<h2 class="mt-4 titulo-centralizado"><strong>Pedidos Esperando Confirmação</strong></h2>

<div class="container mt-4">
  <% if (produtos.length > 0) { %>
    <% produtos.forEach(produto => { %>
      <div class="produto-card mb-3">
        <h5 class="texto-marrom"><%= produto.nome %></h5>
        <p><%= produto.descricao %></p>
        <p class="fw-bold texto-marrom">
          R$ <%= Number(produto.preco).toFixed(2) %> x <%= produto.quantidade %>
        </p>
        <form action="/pedidos/remover" method="POST">
          <input type="hidden" name="produto_id" value="<%= produto.id %>">
          <button type="submit" class="btn btn-marrom btn-sm mt-2">Remover</button>
        </form>
      </div>
      
    <% }); %>
<div class="d-flex gap-2 mt-3">
  <form action="/formulario" method="GET">
    <button type="submit" class="btn btn-success">Finalizar Pedido</button>
  </form>
</div>

      <a href="/servicos" class="btn btn-secondary">Continuar Comprando</a>
    </div>

  <% } else { %>
    <p class="text-center fw-bold mt-4">Nenhum produto no seu carrinho.</p>
  <% } %>
</div>

<h2 class="mt-4 titulo-centralizado"><strong>Pedidos Confirmados</strong></h2>
