<head>
    <style>
        .button-group {
         display: flex;
         justify-content: flex-end;
         gap: 0.3rem;
        }

        .button-group .btn,
        .button-group button {
          width: 80px;      /* ✅ define o tamanho máximo */
          text-align: center;
          padding: 0.4rem 0.5rem;
          white-space: nowrap;
        }

    </style>
</head>
<%- include('../partials/navbar') %>

<h1>Lista de categorias</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        <% categorias.forEach(categoria => { %>
            <tr>
                <td><%= categoria.id %></td>
                <td><%= categoria.nome %></td>
                <td>
                  <div class="button-group">
                  <a href="/categorias/<%= categoria.id %>" class="btn btn-marrom">View</a>
                  <a href="/categorias/<%= categoria.id %>/edit" class="btn btn-marrom">Edit</a>
                   <form action="/categorias/<%= categoria.id %>?_method=DELETE" method="POST" style="display:inline;">
                   <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
             </div>
</td>

            </tr>
        <% }) %>
    </tbody>
</table>
